<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS for this page -->
    <link href="/static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">管理后台</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="item"><a href="/admin/">home</a></li>
            <li class="item"><a href="/admin/user/">User</a></li>
              <li class="item"><a href="/admin/movie/">Movie</a></li>
              <li class="item"><a href="/admin/anime/">Anime</a></li>
              <li class="item"><a href="/admin/course/">Course</a></li>
              <li class="item"><a href="/admin/photo/">Photo</a></li>
              <li class="item"><a href="/admin/article/">Article</a></li>
              <li class="item"><a href="/admin/startup/">Startup</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
                <ul id="nologined" class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                  <a href="#"  class="dropdown-toggle" data-toggle="dropdown">欢迎你,{{ current_user.username }}!<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/auth/logout">登出</a></li>
                    </ul>
                </li>
                </ul>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br><br><br><br>
    <div class="container">
      <div class="starter-template">
          {% block content %}{% endblock %}
      </div>
    </div><!-- /.container -->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/plugin/bootstrap/js/bootstrap.min.js"></script>
  {% block script %}{% endblock %}

  </body>
</html>
